@rendermode InteractiveServer
@inject KandidaatService kandidaatService

@if(kandidaat != null)
{<div class="kandidaat">
	<img @onclick="AddVote" alt="@kandidaat.ImagePath" src="@kandidaat.ImageUrl" />
	<h5>@kandidaat.Name </h5>
	<h5>@kandidaat.Description</h5>
	<label>votes</label>
	<h5>@kandidaat.Votes</h5>
</div>
}







@code {

	[Parameter]
	public Kandidaat? kandidaat { get; set; }


	void AddVote()
	{
		if (kandidaat != null)
		{
			kandidaat.Votes++;
			kandidaatService.UpdateKandidaat(kandidaat);
		}
		
	}

}
